.contact {
    width: 100vw;
    background-color: $blue-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        margin: 0;
        margin-top: 64px;
        margin-bottom: 32px;
        color: $text-dark;
        font-size: 36px;
        font-weight: bold;
    }

    &__describe {
        margin: 0;
        margin-bottom: 56px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }

    &__icons {

    }

    &__link {

    }

    &__email {
        width: 278px;
        height: 48px;
        background-color: $text-link;
        border-radius: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: $white;
    }
}