.contact {
    background-color: $blue-light;
    padding: 64px 16px 88px;
    @media (min-width: $desktop) {
        padding: 80px 16px 176px;
    }
    &__title {
        margin: 0;
        color: $text-dark;
        font-size: 36px;
        line-height: 48px;
        font-weight: bold;
        text-align: center;
        @media (min-width: $desktop) {
            margin-bottom: 40px;
            font-size: 48px;
            line-height: 56px;
        }
    }

    &__describe {
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
        }
    }

    &__interaction {
        text-align: center;
        @media (min-width: $desktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 580px;
            margin: 128px auto 0;
        }
    }

    &__socials {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 56px 64px;
        @media (min-width: $desktop) {
            margin: 0;
        }
    }

    &__item {
        margin: 0 12px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    &__email {
        display: inline-block;
        color: $white;
        background-color: $text-link;
        text-decoration: none;
        border-radius: 64px;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        padding: 4px 24px;
    }
}