@keyframes wave {
    0% {
        transform: scale(1) rotate(-10deg);
    }
    50% {
        transform: scale(1.1) rotate(30deg);
    }
    100% {
        transform: scale(1) rotate(-10deg);
    }
}

.header {
    padding: 74px 16px 88px;
    @media (min-width: $desktop) {
        padding-bottom: 176px;
    }

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 8px;
        @media (min-width: $desktop) {
            margin-bottom: 24px;
        }
    }

    &__image {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        box-sizing: content-box;
        border: 16px solid #f6f9fd;
        @media (min-width: $desktop) {
            width: 178px;
            height: 178px;
            border: 24px solid #f6f9fd;
        }
    }

    &__bubble {
        position: absolute;
        top: -26px;
        left: calc(50% + 90px);
    }

    &__cloud {
        display: none;
        @media (min-width: $desktop) {
            display: block;
            color: $white;
            background-color: $blue;
            font-size: 32px;
            font-weight: bold;
            padding: 16px 19px;
            border-radius: 16px;
            position: relative;
            &:before {
                content: "";
                background: url("../assets/icons/speech-cloud.svg");
                width: 18px;
                height: 22px;
                position: absolute;
                top: 100%;
                left: 32px;
            }
            &:after {
                content: "";
                background: url("../assets/icons/hand.svg");
                display: inline-block;
                width: 32px;
                height: 32px;
                margin-left: 8px;
                margin-bottom: -4px;
                animation: wave 1.5s ease-in-out infinite;
            }
        }
    }

    &__content-container {
        text-align: center;
    }

    &__title {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $text-dark;
        max-width: 390px;
        margin: 16px auto;
        position: relative;
        @media (min-width: $desktop) {
            font-size: 32px;
            line-height: 40px;
            max-width: 640px;
            margin: 24px auto;


            &:before {
                content: " ";
                background: url("../assets/icons/{.svg");
                background-size: contain;
                display: inline-block;
                width: 84px;
                height: 256px;
                position: absolute;
                top: 0;
                right: 111%;
            }

            &:after {
                content: " ";
                background: url("../assets/icons/}.svg");
                background-size: contain;
                display: inline-block;
                width: 84px;
                height: 256px;
                position: absolute;
                top: 0;
                left: 111%;
            }
        }
    }

    &__describe {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        max-width: 390px;
        margin: 0 auto 48px;
        &:after {
            content: " ";
            background: url("../assets/icons/smile.svg");
            background-size: contain;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 2px;
            margin-bottom: -4px;
            @media (min-width: $desktop) {
                width: 20px;
                height: 20px;
            }
        }
        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
            max-width: 800px;
            margin-bottom: 68px;
        }
    }

    &__strong {
        color: $blue;
        white-space: nowrap;
    }

    &__link {
        font-weight: bold;
        color: $text-link;
    }

    &__email {
        display: inline-block;
        color: $white;
        background-color: $text-link;
        text-decoration: none;
        border-radius: 64px;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        padding: 4px 24px;
    }
}