@keyframes hand {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(25deg);
  }
  0% {
    transform: scale(1) rotate(0deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 16px 88px 16px;
  position: relative;

  &__cloud {
    display: none;
    @media (min-width: 960px) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 96px;
      left: 206px;
      font-size: 32px;
      font-weight: bold;
      color: $white;
      background-color: $blue;
      border-radius: 16px;
      width: 230px;
      height: 72px;
      text-align: center;
      position: relative;
      &:after {
        content: " ";
        display: inline-block;
        background: url('../assets/icons/hand.svg');
        width: 32px;
        height: 32px;
        margin-left: 12px;
        margin-bottom: 4px;
        animation: hand 1s ease-in-out infinite;
      }
      &:before {
        content: " ";
        display: inline-block;
        background: url('../assets/icons/speech-cloud.svg');
        width: 18px;
        height: 22px;
        position: absolute;
        top: 72px;
        left: 32px;
      }
    }
  }

  @media (min-width: 960px) {
    margin-bottom: 176px;
  }

  &__image {
    margin-top: 98px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 40px;
    @media (min-width: 960px) {
      width: 178px;
      height: 178px;
      margin-bottom: 72px;
    }
  }

  &__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    @media (min-width: 960px) {
      &:before {
        content: " ";
        background: url('../assets/icons/{.svg');
        background-size: contain;
        display: inline-block;
        width: 84px;
        height: 256px;
        position: absolute;
        top: -8px;
        left: -80px;
      }

      &:after {
        content: " ";
        background: url('../assets/icons/}.svg');
        background-size: contain;
        display: inline-block;
        width: 84px;
        height: 256px;
        position: absolute;
        top: -8px;
        right: -80px;
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: $text-dark;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    max-width: 390px;
    @media (min-width: 960px) {
      max-width: 640px;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
      
    }
  }

  &__strong {
    color: $blue;
  }

  &__describe {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 48px;
    text-align: center;
    max-width: 390px;
    &:after {
      content: " ";
      background: url('../assets/icons/smile.svg');
      background-size: contain;
      display: inline-block;
      width: 16px;
      height: 16px;
    }
    @media (min-width: 960px) {
      font-size: 20px;
      line-height: 40px;
      max-width: 800px;
      margin-bottom: 68px;
    }
  }

  &__link {
    font-weight: bold;
    color: $text-link;
    text-decoration: none;
  }

  &__email {
    width: 278px;
    height: 48px;
    background-color: $text-link;
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: $white;
  }
}